/* ---------- ESTILOS GERAIS ---------- */
html {
    scroll-behavior: smooth;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    padding-top: 70px;
}

h2 {
    margin-bottom: 30px;
}

section {
    padding: 60px 0;
}

/* ---------- HEADER ---------- */
header {
    background: linear-gradient(135deg, #65aefc, #a982ec);
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    padding: 80px 0;
    background-position: center;
    background-size: cover;
    background-color: #e5e5f7;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

header p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

header .btn {
    background-color: #ffffff;
    color: #333;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

header .btn:hover {
    background-color: #966ce098;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* ---------- NAVBAR ---------- */
.navbar-brand img {
    height: 80px;
    width: auto;
}

.nav-item {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Navbar - Efeito Hover */
.navbar-nav .nav-link {
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #976ce0 !important;
    font-size: 19px;
}

/* ---------- FOOTER ---------- */
footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}

footer a:hover {
    font-size: 1.2rem;
}

/* ---------- SEÇÃO SOBRE ---------- */
#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 50px;
    text-align: justify;
}

#about .texto {
    max-width: 50%;
}

#about .titulo {
    font-size: 32px;
    font-weight: bold;
    color: #007bff;
}

#about .descricao {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

#about .imagem-about img {
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    filter: opacity(80%);
}

/* ---------- SEÇÃO SERVIÇOS ---------- */
#services .row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#services .service-card {
    padding: 25px !important;
    border-radius: 12px !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 100% !important;
    text-align: center;
    height: 250px;
    margin: 50px;
    background:linear-gradient(#6b80941c, #fffefe) ;
    border: 1px solid #ececec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services .service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    
}

#services .service-card p,
#services .service-card h3 {
    max-width: 90%; /* Mantém o texto dentro do card */
    word-wrap: break-word; /* Divide palavras longas */
}

#services .service-card h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    color: #313a41;
    text-transform: uppercase;
}

#services .service-card p {
    font-size: 1.5rem;
    color: #444;
    line-height: 1.6;
    font-weight: 300;
}

#services h2 {
    
    font-size: 2.5rem;
    font-weight: 700;
}

/* ---------- SEÇÃO INTEGRAÇÕES ---------- */
#integracoes {
    background: linear-gradient(135deg, #a982ec, #65aefc);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
}

#integracoes .card {
    display: flex;
    width: 85%;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

#integracoes .card.info1 {
    flex-direction: row;
    align-self: flex-end;
}

#integracoes .card.info2 {
    flex-direction: row-reverse;
    align-self: flex-start;
}

#integracoes .card.info3 {
    flex-direction: row;
    align-self: flex-end;
}

#integracoes .card:hover {
    transform: scale(1.03); /* Reduzindo o aumento */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Menos sombra */
    transition: transform 0.4s ease, box-shadow 0.4s ease; /* Suavizando a transição */
}

#integracoes .card img {
    width: 50%;
    max-width: 500px;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
}

#integracoes .texto {
    display: flex;
    flex-direction: column;
}

#integracoes .texto .subtitulo {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

#integracoes .texto .titulo {
    font-size: 32px;
    font-weight: bold;
    color: #000;
    margin: 5px 0;
}

#integracoes .texto .descricao {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

#integracoes .texto .destaque {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#integracoes .texto .destaque span {
    font-size: 7rem;
    font-weight: bold;
    color: #8000ff;
}

/*----------- Contato----------*/
#contact{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.452);
    border-radius: 8px;
    font-size: 1.2rem;
    
    background:linear-gradient(#343a401c, #fffefe) ;

}

#contact p {
    padding-bottom: 50px;
}

/* ---------- LINKS ---------- */
.mail-link {
    text-decoration: none;
    color: #fff;
}

.mail-link:hover {
    font-size: 1.05rem;
    color: #65aefc;
}
