/* ---------- ESTILOS GERAIS ---------- */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

h2 {
    margin-bottom: 30px;
}

section {
    padding: 60px 0;
}

/* ---------- HEADER ---------- */
header {
    background: linear-gradient(135deg, #65aefc, #a982ec);
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    padding: 80px 0;
    background-position: center;
    background-size: cover;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

header p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

header .btn {
    background-color: #ffffff;
    color: #333;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

header .btn:hover {
    background-color: #966ce098;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
/* ---------- NAVBAR ---------- */
.navbar-brand img {
    height: 80px;
    width: auto;
}

.nav-item {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
/* Navbar - Efeito Hover */
.navbar-nav .nav-link {
    font-size: 18px; /* Tamanho padrão */
    transition: all 0.3s ease-in-out; /* Suaviza a transição */
}

.navbar-nav .nav-link:hover {
    color: #976ce0 !important; /* Cor ao passar o mouse (substitua pelo desejado) */
    font-size: 19px; /* Aumenta o tamanho do texto ao passar o mouse */
}
/* ---------- FOOTER ---------- */
footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}

footer a:hover{
    font-size: 1.2rem;
}

/* ---------- SEÇÃO SOBRE ---------- */
#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 50px;
}

#about .texto {
    max-width: 50%;
}

#about .titulo {
    font-size: 32px;
    font-weight: bold;
    color: #007bff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about .descricao {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

#about .imagem-about img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    filter: opacity(80%);
}

/* Responsividade */
@media (max-width: 768px) {
    #about {
        padding: 0;
        padding-top: 10px;
        flex-direction: column;
        text-align: center;
    }

    #about .texto{
        max-width: 80%;
    }
    #about .descricao {
        max-width: 100%;
    }

    #about .imagem-about {
        display: none;
    }
}

/* ---------- SEÇÃO SERVIÇOS ---------- */
#services .row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Aumentei o espaçamento entre os cards */
}

#services .service-card {
    padding: 25px !important;
    background-color: #fff !important;
    border-radius: 12px !important; /* Deixei o border-radius mais suave */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#services .service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

#services .service-card h3 {
    margin-top: 10px;
    font-size: 1.5rem; /* Maior título para mais destaque */
}

#services .service-card p {
    font-size: 1rem;
    color: #555;
}

#services h2 {
    font-size: 2.5rem; /* Maior tamanho de título para a seção */
    font-weight: 700;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Responsividade */
@media (max-width: 992px) {
    #services .service-card {
        flex: 1 1 45%;
    }
}

@media (max-width: 576px) {
    #services .service-card {
        flex: 1 1 100%;
    }
}

/* ---------- SEÇÃO INTEGRAÇÕES ---------- */
#integracoes {
    background: linear-gradient(135deg,#a982ec, #65aefc);
    display: flex;
    flex-direction: column; /* Cards em coluna */
    gap: 20px;
    padding: 50px;
}

#integracoes .card {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

#integracoes .card.info1 {
    flex-direction: row; /* Imagem à esquerda e texto à direita */
}

#integracoes .card.info2 {
    flex-direction: row-reverse; /* Card à esquerda e imagem à direita */
}

#integracoes .card.info3 {
    flex-direction: row; /* Imagem à esquerda e texto à direita */
}

#integracoes .card.info1,
#integracoes .card.info2,
#integracoes .card.info3 {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#integracoes .card.info1:hover,
#integracoes .card.info2:hover,
#integracoes .card.info3:hover {
    transform: scale(1.05); /* Aumenta o tamanho em 5% */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Adiciona sombra para destaque */
}

#integracoes .card img {
    width: 50%; /* Para manter a imagem proporcional ao card */
    max-width: 500px; /* Limite máximo para não ficar exagerado em telas grandes */
    height: 250px; /* Ajusta automaticamente a altura com base na largura */
    border-radius: 8px;
    object-fit: cover;
}

#integracoes .texto {
    display: flex;
    flex-direction: column;
}

#integracoes .texto .subtitulo {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

#integracoes .texto .titulo {
    font-size: 32px;
    font-weight: bold;
    color: #000;
    margin: 5px 0;
}

#integracoes .texto .descricao {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

#integracoes .texto .destaque {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

#integracoes .texto .destaque span {
    font-size: 32px;
    font-weight: bold;
    color: #8000ff;
}

/* Responsividade */
@media (max-width: 768px) {
    #integracoes {
        flex-direction: column;
        text-align: center;
    }

    #integracoes .card {
        flex-direction: column; /* Imagem fica acima do texto em telas menores */
        text-align: center;
    }

    #integracoes .card img {
        display: none;
        margin: 0 auto; /* Centraliza a imagem */
        width: 100px; /* Ajusta o tamanho da imagem */
    }

    #integracoes .texto {
        align-items: center;
    }
}

/*----------- Contato----------*/
#contact{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.452);
    border-radius: 8px;
    font-size: 1.2rem;
    
    background:linear-gradient(#343a401c, #fffefe) ;

}

#contact p {
    padding-bottom: 50px;
}
/* ---------- LINKS ---------- */
.mail-link {
    text-decoration: none;
    color: #fff;
}

.mail-link:hover {
    font-size: 1.05rem;
    color: #65aefc;
}
